*,
::after,
::before,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  min-height: 100vh;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 320px) {
  .wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #0b0c0e;
  font-size: 18px;
  font-weight: 500;
}
@media screen and(min-width: 320px) {
  .exchange__rate__thumb {
    max-height: 616px;
    overflow: auto;
    width: 220px;
    min-height: 72px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-bottom: 1px solid #0b0c0e;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media screen and (min-width: 787px) {
  .exchange__rate__thumb {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 616px;
    overflow: auto;
    width: 400px;
    min-height: 72px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-bottom: 1px solid #0b0c0e;
    background-color: rgba(0, 0, 0, 0.4);
    flex-basis: calc((100% - 260px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .exchange__rate {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
